.DS_store
*.xcodeproj/
*.o
*.a

# executable ignores
bin
build
pbam/pbam_test_files/manybodyapprox_test2/

## PBAM output ignores
*.dx 
*.dat
dyn_*
*.stat
*.out.pqr

## Latex ignores
*.aux
*.log
*.synctex.gz
*.out

## Files for work on APBS comparison
APBS_compare/

## Pretty pictures
*.png
*.jpg
*.jpeg
*.pdf
